<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Overall Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:rgb(51, 135, 190);">

  <ion-list>
    <ion-radio-group [(ngModel)]="userFeedback" >
      <ion-list-header>
        <h5><!--Data Persistance. Shows user input here once it has been saved-->
          How was your user experience: {{userFeedback}}
        </h5>
      </ion-list-header>

      <ion-item>
        <ion-label>Poor</ion-label>
        <ion-radio value="Poor"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Good</ion-label>
        <ion-radio value="Good"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Very Good</ion-label>
        <ion-radio value="Very Good"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
<!--Save users input & bring user back to home page-->
  <ion-button (click)="onSave()" [routerLink]="['/home']" shape=“round” color="dark" expand="block"> Save</ion-button>


</ion-content>
