body {
    background-color: lightblue;
  }

  ion-card-content{
    font-family: verdana;
    font-size: 17px;
    text-align: left;
  }
  ion-card-title{
    font-family: verdana;
    font-size: 18px;
  }

  ion-card-subtitle{
    font-family: verdana;
    font-size: 18px
  }

  ion-title{
    font-family: verdana;
    font-size: 21px
  }

  p.solid {border-style: solid;}